@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.navbar {
  border-radius: 0px;
}

body {
  background: #00a5f7;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  cursor: pointer;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.card div {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #fff;
  justify-content: center;
  font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47525d;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card div.row {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card div textarea {
  width: 100%;
  height: 200px;
}

.card.flipped {
  transform: rotate(360deg);
}

.card-guess {
  border-radius: 10px;
  margin-top: 10%;
  text-align: center;
  margin: 0 5px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.card-guess.true {
  background: #51a258;;
}

.card-guess.false {
  background: #a25151;
}

@media (min-width: 991px) {
  .card-guess {
    width: 32.4%;
  }
}
